@import url(http://fonts.googleapis.com/css?family=Telex);

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Telex', sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #317eac;
    text-rendering: optimizelegibility;
}

h1, h2, h3 {
    line-height: 40px;
}

h1 {
    display: block;
    font-size: 24.5px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;    
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar {
    background-color: #034482;
    background-image: -moz-linear-gradient(top, #04498c, #033c73);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04498c), to(#033c73));
    background-image: -webkit-linear-gradient(top, #04498c, #033c73);
    background-image: -o-linear-gradient(top, #04498c, #033c73);
    background-image: linear-gradient(to bottom, #04498c, #033c73);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    overflow: visible;
    background-repeat: repeat-x;
    border-color: #033464;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    border-radius: 0;
    min-height: 51px;
}

.navbar:after {
    clear: both;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.navbar .nav li {
    display: list-item;
    float: left;
    text-align: -webkit-match-parent;
    text-align: -webkit-match-parent;
}

.navbar .nav > li > a {
    padding: 16px 10px 14px;
    font-family: 'Telex', sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    float: none;
    color: #ffffff;
    display: block;
    text-decoration: none;
}

.brand {
    float: left;
    padding: 14px 20px 16px 20px;
    font-family: 'Telex', sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    float: left;
    display: block;
    font-size: 20px;
    font-weight: 200;
}

#textdiv {
    display: block;
    width: 50%;
    margin-left: 0;
    margin-top: 20px;
    min-height: 30px;
    float: left;
}

footer {
    border-top: 1px solid #04498c;
    padding-top: 15px;
}

.copyright, .jsdoc-message {
    font-size: 90%;
    text-align: center;
    color: #033c73;
    width: 100%;
    display: block;   
}

#viewercontainer {
    display: box;
    position: fixed;
    top: 56px;
    right: 5px;
    width: 48%;
    margin: 5px;
    overflow: auto;
    border-radius: 5px;
    border: 1px #2fa4e7 solid;
    height: 90vh;
    float: right;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.row {
    display: table-row;
}

.viewer_3Dmoljs {
    display: table-cell;
    position: relative;   
    width: 50%;
    height: 50%;   
}

canvas {
    max-width: 100%;
}

#main {
    margin-top: 56px;
}

p {
    margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
