/node_modules
/nbproject/private/
/build
/doc
script.map
.externalToolBuilders
.pydevproject
.DS_Store
.settings
node_modules
__pycache__
.nyc_output
.vscode
.st
tmp/
.parcel-cache/
nbproject
/coverage
/codecov
PUBLISH

/tests/jest/render.test.js

#Ignoring Virtual Environments for the Active Learning Environment Project
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
