/node_modules
/nbproject/private/
script.map
my_pdbs/
build
doc
doc/scripts/toc.js
.DS_Store
package-lock.json  #suppose to commit, but triggers security warning on github
.settings
/assets
/'design concepts'


#Ignoring Virtual Environments for the Active Learning Environment Project
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
assets/
design concepts/