/tests
/node_modules
/tmp
/coverage
/nbproject/private/
script.map
.DS_Store
.settings
.ipynb

#Ignoring Virtual Environments for the Active Learning Environment Project
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
