@import url(//fonts.googleapis.com/css?family=Telex);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  background-color: #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
.copyright, .jsdoc-message {
  font-size: 90%;
  text-align: center;
  color: #033c73;
  width: 100%;
  display: block;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.container-fluid:after {
  clear: both;
}

.navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
.navbar-fixed-top {
  top: 0;
}

.navbar-inverse .navbar-inner {
  background-color: #034482;
  background-image: -moz-linear-gradient(top, #04498c, #033c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04498c), to(#033c73));
  background-image: -webkit-linear-gradient(top, #04498c, #033c73);
  background-image: -o-linear-gradient(top, #04498c, #033c73);
  background-image: linear-gradient(to bottom, #04498c, #033c73);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04498c', endColorstr='#ff033c73', GradientType=0);
  border-color: #033464;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}

.navbar-inner {
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #45aeea;
  background-image: -moz-linear-gradient(top, #54b4eb, #2fa4e7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54b4eb), to(#2fa4e7));
  background-image: -webkit-linear-gradient(top, #54b4eb, #2fa4e7);
  background-image: -o-linear-gradient(top, #54b4eb, #2fa4e7);
  background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff2fa4e7', GradientType=0);
  border: 1px solid #1990d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.navbar-inner:before,
.navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar-inner:after {
  clear: both;
}
.navbar-inner:before,
.navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}

.navbar-inverse .brand {
  color: #ffffff;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 15px 20px 15px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 0 1px 0 #54b4eb;
}
.navbar .brand {
  padding: 14px 20px 16px;
  font-family: 'Telex', sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.navbar-fixed-top .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: #2fa4e7;
  text-decoration: none;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

.row-fluid .span8 {
  width: 60%;
  *width: 60%;
}
.row-fluid .span3 {
  width: 26%;
  *width: 26%;
}

#main {
  margin-top: 56px;
}
.page-title {
  font-size: 220%;
  color: #033c73;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 7px;
  display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

p {
  margin: 0 0 10px;
}


footer {
  border-top: 1px solid #04498c;
  padding-top: 15px;
}


[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.span8 {
  width: 580px;
}
.span3 {
  width: 260px;
}

#toc {
  position: fixed;
  top: 56px;
  width: 29%;
  max-height: 90%;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #2fa4e7 solid;
  padding: 5px;
}














