
body{
    overflow-x:hidden;
    background-color: lightgray;
    margin: 0px;
    margin-left: 5px;
    padding:0px;
}

#tests{

    width:100%;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
}

img{
    width:400px;
    height:400px;
}

h3 {
	margin: 0;
	padding: 0;
}
#label{
    width:10%;
}
#summary{
    width:100%;
    height:200px;
    overflow-y:scroll;
    padding:0px;
    margin:0px;
    border-style:solid;
    border-color:black;
    background-color: white;
}

#sorttable {
	float: right;
}

#download {
    float: right;
}

#summary_list {
	width:100%;
    list-style: none;
    overflow-y:scroll;
    padding:0px;
    margin:0px;
}

a{
    text-decoration: none;
    color:black;
}
